{
    "env": {
        "browser": false,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb-base", "prettier"],
    "rules": {
        "indent": [4, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
        "no-tabs": 0,
        "allowIndentationTabs": true,
        "semicolons": true
    }
}
